* {
    margin: 0;
    padding: 0;
    font-family: Elephant;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(5, 27, 70);
    color: rgb(116, 159, 201);
}

.navbarbox {
    display: flex;
    justify-content: space-around;
}

.navbarlink {
    padding-left: 10px;
}

.navbarlink a {
    color: rgb(116, 159, 201);
    cursor: pointer;
    text-decoration: none;
}

.navbarlink a:hover {
    color: white;
    text-decoration: underline;
}

.navbaricon {
    display: none;
    cursor: pointer;
}

.navbaricon:hover {
    color: white;
}

.searchbar {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.searchbar input {
    width: 60%;
    padding: 10px;
    border-radius: 30px;
    border-color: blue;
}

.searchbar input::placeholder {
    color: darkblue;
}

.sidenavbar {
    width: 50%;
    height: 100%;
    background-color: rgb(5, 27, 70);
    color: rgb(116, 159, 201);
    position: fixed;
    top: 0;
    padding: 10px;
    left: -60%;
    transition: 2s;
    z-index: 3000;
}

.sidenavbarbox {
    display: flex;
    justify-content: end;
}

.sidenavbarbox1 {
    padding: 10px;
}

.sidenavbarbox1 p {
    padding-top: 70px;
}

.sidenavbarbox1 a {
    text-decoration: none;
}

.sidenavbarbox1 a:hover {
    text-decoration: underline;
}

.navunder {
    display: flex;
    justify-content: space-around;
    padding: 70px;
}

.navunderbox {
    font-size: larger;
}

.navunderbox h1 {
    padding-bottom: 20px;
    padding-top: 60px;
    color: rgb(5, 27, 70);
}

.navunder ul {
    color: rgb(46, 83, 119);
}

.navunder li {
    padding-top: 10px;
}


.navunder img {
    border-radius: 100%;
}

.trending {
    color: rgb(5, 27, 70);
}

.music {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.musicbox {
    width: 200px;
    height: 200px;
    background-color: rgb(5, 27, 70);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    border-radius: 15px;
    border: 2px solid pink;
    padding: 15px;
}

.musicbox h2 {
    color: rgb(5, 27, 70);
    border: 25px solid pink;
    border-radius: 19px;
    background-color: pink;
    padding: 2px;
    font-family: Aptos Narrow;
    font-size: 25px;
}

.musicbox1 audio {
    width: 200px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid pink;
}

.feedbackbox {
    text-align: center;
    margin-top: 50px;
    color: rgb(5, 27, 70);
}

.feedbackbox1 textarea {
    width: 60%;
    height: 60px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(46, 83, 119);
}

.feedbackbox1 textarea::placeholder {
    color: rgb(116, 159, 201);
}

.feedbackbox input {
    padding: 10px;
    border-radius: 15px;
    border-color: rgb(22, 28, 39);
    color: rgb(116, 159, 201);
    background-color: rgb(5, 27, 70);
}

.feedbackbox input:hover {
    cursor: pointer;
}

.myabout {
    text-align: center;
    margin-top: 60px;
    color: rgb(46, 83, 119);
}

.contactbox {
    width: 100%;
    background-color: rgb(22, 28, 39);
    margin-top: 60px;
    color: rgb(116, 159, 201);
}

.contactbox1 {
    font-size: 10px;
    padding: 10px;
}

.contactbox h1 {
    font-family: 'Courier New', Courier, monospace;
}

.contactbox h3 {
    font-family: 'Courier New', Courier, monospace;
}

.contactbox p {
    text-align: center;
    font-size: small;
    padding-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.contactbox4 p {
    padding-bottom: 10px;
    font-size: 11px;
}

.contact {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.contactus {
    width: 70%;
    background-color: rgb(5, 27, 70);
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: rgb(116, 159, 201);
}

.contactus1 {
    padding-top: 15px;
}

.contactus1 h1 {
    font-size: 15px;
    color: rgb(116, 159, 201);
}

.contactus1 input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    border-color: rgb(5, 27, 70);
    font-family: 'Courier New', Courier, monospace;
}

.submitbox1 {
    display: flex;
}

.submitbox {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: rgb(5, 27, 70);
    background-color: rgb(116, 159, 201);
    border-color: rgb(116, 159, 201);
    border-radius: 5px;
}

@media screen and (max-width:700px) {
    .navbarbox {
        display: none;
    }

    .navbaricon {
        display: block;
    }

    .navunderimg {
        display: none;
    }

    .music {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 20%;
    }

    .musicbox {
        width: 80px;
        height: 80px;
        display: flex;

    }

    .musicbox h2 {
        font-size: x-small;
        border: 2px solid pink;
    }

    .musicbox audio {
        width: 90px;
        height: 20px;
        border: none;
    }
}
